div.stChatMessage.st-emotion-cache-1c7y2kd.eeusbqq4 
{
    width: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    /* justify-content: space-evenly; */
    text-align: right;
}

